/* ========== Intro Section ========== */
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 83vh;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;

}

.i-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.i-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-center;
  gap: 1.5rem;
}



/* ========== Text Styling ========== */
.i-name > :nth-child(1),
.i-name > :nth-child(2) {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
}

.i-name > :nth-child(1) {
  color: var(--black);
}

.i-name > :nth-child(2) {
  color: var(--orange);
}

.i-name > :nth-child(3) {
  margin-top: 10px;
}

/* ========== Button ========== */
.i-button {
  width: 8rem;
  height: 2rem;
}

/* ========== Social Icons ========== */
.i-icons {
  display: flex;
  gap: 1rem;
}

.i-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* ========== Right Side ========== */
.i-right {
  position: relative;
  align-items: center;
}

.i-right img {
  max-width: 100%;
  height: auto;
}


/* ========== Responsive Layout ========== */
@media (max-width: 1049px) {
  .intro {
    flex-direction: column;
    padding: 1rem;
    height: auto;
  }

  .i-right {
    align-items: center;
    margin-bottom: 10vh;
  }

  .i-right img {
    width: 220px;
    transform: scale(1.9);
  }
}

@media (max-width: 640px) {
  .i-name > :nth-child(1),
  .i-name > :nth-child(2) {
    font-size: 2.2rem;
  }

  .i-right img {
    width: 180px;
  }

  .intro {
    gap: 3rem;
  }
}

@media (max-width: 400px) {
  .i-right img {
    width: 160px;
  }

  .i-button {
    width: 100%;
  }

  .i-icons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
